.admin-page-container {
	display: flex;
	flex-direction: column;
}
.admin-page-header {
	padding: 20px;
	padding-bottom: 40px;
	display: flex;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	border-bottom: 5px solid #8e2b9c;
}
.admin-navbar {
	/* padding-top: 40px; */
	padding: 2rem 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow-x: scroll;
	justify-content: center;
}
.admin-nav_btn {
	cursor: pointer;
}
@media screen and (max-width: 430px) {
	.admin-nav_btn {
		height: 5rem !important;
		cursor: pointer;
		margin-left: 190px;
	}
}

.admin-left {
	display: flex;
	width: 350px;
	justify-content: center;
	flex-direction: column;
	margin-right: 70px;
}
.admin-button {
	margin: 10px;
	font-size: 22px;
}
.admin-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	margin-top: 50px;
}
.admin-upload-file {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 40px;
}
@media screen and (max-width: 1200px) {
	.admin-page-header {
		display: flex;
		align-items: flex-start;
	}
	.admin-container {
		flex-direction: column;
	}
	.admin-left {
		margin-right: 0;
	}
}

.admin-emoticons {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	/* width: 100%; */
	margin-top: 35px;
	gap: 10px;
}
.admin-emoticons .emoji {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 10px;
	border: solid 1px transparent;
	flex-direction: column;
}
.admin-emoticons .emoji > .delete__button {
	opacity: 0;
	visibility: hidden;
}
.admin-emoticons .emoji img {
	transition: all 0.2s ease;
}
.admin-emoticons .emoji:hover img {
	transform: scale(1.2);
}
.admin-emoticons .emoji:hover .delete__button {
	opacity: 1;
	visibility: visible;
}
.admin-emoticons .emoji:hover {
	border: solid 1px rgb(101, 0, 114);
}
@media only screen and (max-width: 600px) {
	.admin-emoticons {
		grid-template-columns: repeat(2, 1fr);
	}
}

.adminpage__icon {
	background: linear-gradient(#4c07a2, #620177);
	font-size: 1.5rem;
	padding: 0.6rem 1rem;
	border-radius: 50%;
}
.adminpage__icon__key {
	/* background: linear-gradient(#4c07a2, #620177); */

	font-size: 1.5rem;
	padding: 0.6rem 1rem;
	border-radius: 50%;
}
.adminpage__head {
	display: flex !important;
}
