.homepage {
	width: 100%;
	margin-top: 24px;
}

.categories {
	margin-top: 6px;
	margin-bottom: 18px;
	display: inline-block;
}

.types .heart-icon:hover {
	transform: scale(0.85);
}
.liked__button {
	background: none;
	border: none;
}
.liked__icon {
	color: white;
	font-size: 2rem;
	transition: opacity 0.3s ease, transform 0.3s ease;
}
.liked__icon:hover {
	opacity: 0.8;
	transform: scale(1.2);
	cursor: pointer;
}
